@charset "utf-8";

article{
	display: inline-table;
	text-align: left;
	color: rgb(var(--color));
	background-color: rgba(255, 255, 255, var(--background-color-alpha));
	line-height: var(--line-height);
}

article > div{
	display: table;
	width: 100%;
	min-height: var(--line-height);
}

article > div > a{
	display: block;
	float: left;
	opacity: 0;
}

article > div > a::before{
	content: "#";
}

article > div:hover > a{
	opacity: 0.5;
}

article > div > a:focus,
html[blur] article > div > a:hover{
	opacity: 1;
}

article > div > div{
	display: table-cell;
	vertical-align: top;
}

article > div > div:not(:first-of-type){
	padding-left: calc(var(--tab-size) - 1px);
	border-left: 1px dotted rgba(var(--color), 0.5);
}

article > div > div:last-of-type{
	width: 100%;
	white-space: pre-wrap;
	word-break: break-word;
}

article > div > div:not(:last-of-type) > div{
	white-space: pre;
}

article > div > div:not(:last-of-type) > div:not(:last-of-type){
	overflow-y: hidden;
	height: 0;
}

article > div > a,
article > div > div:not(:last-of-type) > div:last-of-type{
	position: sticky;
	top: 0;
}

article > div > div:last-of-type:not(:first-of-type),
article > div > div:not(:last-of-type):not(:first-of-type) > div{
	tab-size: calc(var(--tab-size) - 1px);
	text-indent: calc(1px - var(--tab-size));
}

article > div > div:last-of-type:not(:first-of-type) *,
article > div > div:not(:last-of-type):not(:first-of-type) > div *{
	text-indent: initial;
}

article > div > a::after,
article > div > div:last-of-type::before,
article > div > div:not(:last-of-type) > div::before,
article > div > div a::before,
article > div > div a::after{
	content: "";
}

article > div > div a:not([hidden]){
	display: inline-block;
	position: relative;
}

article > div > div a::before,
article > div > div a::after{
	display: block;
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
	border-bottom-width: 1px;
	border-bottom-color: rgb(var(--color));
}

article > div > div a::before{
	border-bottom-style: solid;
}

article > div > div a:visited::before{
	border-bottom-color: rgb(255, 255, 255);
}

article > div > div a::after{
	border-bottom-style: dashed;
}

article > div > div a:focus,
html[blur] article > div > div a:hover{
	background-color: rgba(var(--color), 0.17);
}

article span,
article > div > a::after,
article > div > div:last-of-type::before,
article > div > div:not(:last-of-type) > div::before{
	font-family: var(--font-family);
}

article a{
	text-decoration: none;
}

article a:link,
article a:active,
article a:visited{
	color: rgb(var(--color));
}

article a:focus{
	outline: none;
}

article img,
article video{
	max-width: 100%;
	margin-bottom: calc((1em - var(--line-height)) / 2);
}

article video[mini]{
	width: 100%;
	height: 28px;
}

article [right]{
	text-align: right;
}

article [center]{
	text-align: center;
}
